@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3> Proiect Tehnici Avansate De Programare</h3>

<p>
    Butnaru Gheorghita<br />
    Grupa M532<br />
    Facultatea de Matematica
</p>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />