@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>E-mail address:</strong> <a href="mailto:butnaru.gheorghita@yahoo.com">butnaru.gheorghita@yahoo.com</a><br />
</address>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
